@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Slabo+27px&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

:root{
    --font-header:"Slabo 27px";
}

* {
    padding: 0;
    margin: 0;
    font-family: "Sofia Sans";
    font-size: 20px;
    box-sizing: border-box;
}

header{
    background-color: #B5E2FA;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.menu {
    display: flex;
    flex-direction: row;
    gap: 60px;
    list-style: none;
    padding: 12px;
}

.menu a{
    text-decoration: none;
    color: black;
}

.menu a:visited{
    color: black;
}

.menu a:active{
    color: black;
}

.logo {
    width: 48px;
}

main{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.banner{
    width: 100%;
}

.carusel{
    display: none;
    flex-direction: row;
    align-items: center;
    width: 100%;
    
@media only screen and (max-width:767px) {
    & .arrow-button{
        display: none;
    }
}
}
.card-container{
    background-color: #B5E2FA;
    flex-grow: 1;
    padding: 12px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    gap: 6px;
    flex-wrap: wrap;
}
.card{
    width:240px; 
    border: 1px solid black;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 6px;

    @media only screen and (max-width:767px) {
        width:100%;
        display: block;
    }
}


.card > p {
    flex-grow: 1;
}

.card-picture{
    width: 100%;
    border-radius: 12px;
    @media only screen and (max-width:767px) {
    display: block;
        float: left;
        width: 20%;
        margin-right: 12px;
    }
}
.blog-container{
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 960px;
}

.article-container{
    max-width: 960px;
    border-radius: 12px;
    background-color: #c7e3f4;
    padding: 12px;
}

.left{
    float:left;
    padding-right: 12px;
}

.content-block{
    border-radius: 12px;
    background-color: #B5E2FA;
    padding: 12px;
    width: 100%;
    @media only screen and (max-width:767px) {
    width: 80%;
    align-items: center;
    overflow: hidden;
    }
}

.hidden{
    display: none;
}

.contact-form{
    display: flex;
    flex-direction: column;

    & > label, & > button{
        margin-top: 12px;
    }

    & > input, & > textarea {
     
        max-width: 800px;
        width: 100%;
        border-radius: 12px;
        min-height: 48px;
        border: 1px #FFFFFF solid;
    }
}

.blog-item{
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 12px;
    margin: 12px 0;
    background-color: #B5E2FA;
    @media only screen and (max-width:767px) {
        border-radius: 0;
    }
}

.blog-item > h2{
    font-family: var(--font-header);
}

.blog-item-content{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.blog-item-content > div{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.blog-item-thumbnail{
    width: 122px;
    display: block;
    object-fit: contain;
}

.profil-picture{
    float: left;
    border-radius: 12px;
    margin: 0 12px;
    
@media only screen and (max-width:767px) {
    margin:0;
}
}

.button{
    background-color: #0FA3B1;
    color: #FFFFFF;
    border-radius: 12px;
    height: 36px;
    border:0;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
}

h1{
    text-align: center;
    font-family: var(--font-header);
    font-size: 38px;
}

#title{
    width: 960px;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 12px 0;
    align-items: center;
}
#error{
    width: 20%;
}

#error > img{
    width: 100%;
    margin: 0;
}

.fieldError{
    color: #DB382A;
}

.social-media-icons{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 12px;

}

footer{
    background-color: #B5E2FA; /*TODO: Footer needs diff backgorund colour*/
}

