
.contact-form{
    display: flex;
    flex-direction: column;

    & > label, & > button{
        margin-top: 12px;
    }

    & > input, & > textarea {
     
        max-width: 800px;
        width: 100%;
        border-radius: 12px;
        min-height: 48px;
        border: 1px #FFFFFF solid;
    }
}